<h1>Add your bookmark!</h1>

<form action="/adding_bookmarks" method="post">
  <input type="text" name="url_field" placeholder="Enter bookmark here">
  <input type="submit" id="submit" value="Submit">
</form>
