<h1>Bookmark Manager</h1>
<h2>Your bookmarks</h1>
<ul>
<% @bookmarks.each do |bookmark| %>
  <li><%= bookmark %></li>
<% end %>
</ul>

<form action="/add_bookmarks" method="get">
  <input type="submit" id="submit" value="Add bookmark">
</form>
